<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarcotech Uranium</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/stockinfo.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Zarcotech Uranium</h1>
        </div>
        <div class="content">
            <h2>Stock Information</h2>
            <div id="stock-info">
                <p>Current price: <span id="price"></span></p>
                <p>Price change: <span id="change"></span></p>
                <p>Last updated: <span id="timeupd"></span></p>
            </div>
        </div>
        <p style="text-align: center;">Nothing here either to be embarassed... Just click! (Nothing creepy either)</p>
        <!-- <div class="footer">
            <p>&copy; 2025 Zarcotech Incorporations. All rights reserved.</p>
        </div> -->
    </div>
    <script src="../script/fetched.js" type="module"></script>
    <script src="../script/script.js" type="module"></script>
</body>
</html>